#titre div {
    display: flex;
    justify-content: center;
}

#formulaire {
    justify-self: center;
}

#formulaire form {
    border: solid black 1px;
    border-radius: 10px;
    padding: 10px;
    display: grid;
    justify-content: center;
}

.part {
    border-radius: 10px;
    margin: 10px;

}

form div {
    padding: 10px;
}

.texte-supplementaire {
    display: none;
}

.medicQ:has(input.trigger-oui:checked) .texte-supplementaire {
    display: block;
}