<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accord de soi</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <header>
        <nav>
            <details>
                <summary id="menuButton">
                    <span class="hamburger"></span>
                </summary>
                <section id="menuList">
                    <button onclick="location.href='../index.html'">Accueil</button>
                    <button onclick="location.href='./rdv.html'">Prendre Rendez-Vous</button>
                    <button onclick="location.href='./seances.html'">Nos Séances</button>
                    <button onclick="location.href='./tarifs.html'">Grille tarifaire</button>
                    <button onclick="location.href='./contact.html'">Contact</button>
                </section>

            </details>
        </nav>

        <section id="homebutton">
            <img src="../assets/images/c.png" onclick="location.href='../index.html'">
        </section>
        <!-- 
        <section id="profilebutton">
            <button class="Btn">
                <div class="sign">
                    <svg class="w-[48px] h-[48px] text-gray-800 dark:text-white" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                        viewBox="0 0 24 24">
                        <path fill-rule="evenodd"
                            d="M12 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4h-4Z"
                            clip-rule="evenodd" />
                    </svg>
                </div>

                <div class="text">Mon Compte</div>
            </button>
        </section> -->
    </header>

    <main>
    </main>

    <footer>
        <section id="L">
            <h5>Nos Reseaux</h5>
            <h5>Conditions générales d’utilisation</h5>
        </section>
        <section id="R">
            <h5 onclick="location.href='./confidenciality.html'">Politique de confidentialité</h5>
            <h5 onclick="location.href='./legal.html'">Mentions légales</h5>
        </section>
    </footer>

</body>

</html>