<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accord de soi</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/soins.css">
</head>

<body>
    <header>
        <nav>
            <details>
                <summary id="menuButton">
                    <span class="hamburger"></span>
                </summary>
                <section id="menuList">
                    <button onclick="location.href='../index.html'">Accueil</button>
                    <button onclick="location.href='./rdv.html'">Prendre Rendez-Vous</button>
                    <button onclick="location.href='./seances.html'">Nos Séances</button>
                    <button onclick="location.href='./tarifs.html'">Grille tarifaire</button>
                    <button onclick="location.href='./contact.html'">Contact</button>
                </section>
            </details>
        </nav>

        <section id="homebutton">
            <img src="../assets/images/c.png" onclick="location.href='../index.html'">
        </section>

    </header>

    <main>

        <section id="mainSection">
            <section class="block" id="titre">
                <div>
                    <img id="mainImg" src="../assets/images/pot.png">
                </div>
                <div>
                    <H1>Séances</H1>
                </div>
            </section>

            <section class="block" id="soins">
                <section class="block soin">
                    <div class="img">
                        <img src="../assets/images/sonor.jpg">
                    </div>
                    <div class="txt">
                        <h3>Massage sonore aux bols tibétains/ Voyage sonore</h3>
                        <p>Le massage sonore s’applique à presque tous, a de nombreux bienfaits et des effets
                            secondaires quasi-insignifiants. En effet, les sons et les vibrations des bols modifient les
                            ondes cérébrales, activent le système parasympathique (celui qui nous permet de ralentir, de
                            régénérer l’organisme et d’éliminer les toxines) et induit une détente corporelle, une
                            restauration de l’équilibre énergétique du corps.
                            Le massage sonore diminue le stress et l’anxiété, favorise la créativité, diminue les
                            troubles du sommeil, soulage la fatigue, les troubles digestifs, les douleurs articulaires
                            et inflammatoires. IL permet d’intensifier la présence à soi, de se reconnecter à son corps,
                            de clarifier ses émotions, de soulager un mental agité ou surchargé, de dénouer les tensions
                            et les crispations, de lever les blocages ancrés dans le corps, et également d’harmoniser
                            les centres énergétiques (chakras).
                            Pour une même personne, chaque massage sonore est l’occasion d’un voyage intérieur différent
                            et unique. Plus concrètement, selon vos besoins, un massage sonore se déroule allongé sur
                            une table de massage dans des vêtements confortables ou assis sur une chaise. Selon les
                            effets recherchés, les bols peuvent être posés sur le corps ou autour du corps (adolescents,
                            les femmes enceintes, personnes atteintes d’un cancer ou d’arthrose sévère). Le massage peut
                            durer entre 30 min et 1h30 plus un temps d’accueil (plus ou moins 15 min) et un temps de
                            partage après le massage (plus ou moins 15 min). Selon votre problématique, il peut être
                            proposé plusieurs fois à 1 semaine d’intervalle pour ancrer un bien être durable. Afin
                            d’intégrer les bienfaits du massage sonore il est important de bien s’hydrater avant et
                            après également.
                            Précédemment et/ou à l’issue du massage sonore, un tirage de cartes oracles est proposé
                            (voir rubrique cartomancie) ou une séance énergétique également (voir page dédiée)
                            Sur le même lieu, ponctuellement, des voyages sonores intimistes d’une heure (maximum 5
                            personnes) peuvent être proposés ou s’organiser sur demande. N’hésitez pas à solliciter de
                            plus amples explications.
                            Contre-indications : Le massage sonore ne peut être prodigué en cas de : trouble mental
                            (type bipolarité, paranoïa, schizophrénie), de trouble cardiaque, de port de pace maker ou
                            de piles dans le corps, d’un implant auditif, ayant subi une opération récente ou ayant des
                            séquelles de commotion cérébrale, ayant été manipulé récemment par un professionnel de santé
                            (kiné, ostéopathe).
                            Préalable : Recevoir un massage sonore ne doit aucunement changer les traitements médicaux
                            prescrits et les soins déjà suivis sur les conseils de votre médecin ou spécialiste, il en
                            est un complément. </p>
                    </div>
                </section>
                <section class="block soin rev">
                    <div class="txt">
                        <h3>Massage intuitif</h3>
                        <p>J’étais, et suis encore, persuadée que le bien-être d’un individu et sa conscience de
                            l’instant présent passent par un lien corporel apaisé et apaisant avec lui-même et les
                            autres. Afin de vivre selon mes idéaux, j’ai depuis longtemps massé de bon cœur mes proches
                            et amis dans le quotidien ou lors d’évènements notamment sportifs mais sans aucune formation
                            diplômante en massage, sans protocole à suivre.
                            Dans cette recherche d’attention à moi-même, j’ai choisi et reçu un massage qui m’a parlé au
                            cœur et au corps, un massage tantrique. J’ai donc décidé de me former en 2024 au massage
                            tantrique qui permet se réconcilier avec son corps, d’harmoniser son féminin et son masculin
                            et de sacraliser la personne que l’on est, d’accorder et de faire circuler son énergie
                            vitale, le tout dans une délicieuse lenteur. En effet un massage tantrique dure entre une
                            heure et demi et deux heures et masse le corps dans son entièreté (y compris les zones
                            érogènes). A l’occasion de ces massages, j’ai pu constater combien il était nécessaire,
                            au-delà d’un protocole assimilé, de faire confiance à son ressenti et à son intuition,
                            aussi, à ce jour, je propose un massage que je qualifie « d’intuitif ».
                            Il aura lieu sur une table de massage confortable, dans une pièce agréablement chauffée et
                            avec une huile de massage chaude et une lumière tamisée favorisant la beauté du corps et
                            l’amour de soi… Le premier contact est visuel, et pendant le massage nos respirations se
                            synchronisent ou rythment les mouvements corporels prodigués.
                            Ce temps de massage étant un moment sacré, il est conseillé d’espacer les massages d’un mois
                            minimum.
                            Le massage intuitif proposé peut se compléter par un massage sonore sur un temps court en
                            début de massage ou au cours de ce dernier sans excéder 2h30 de massage. De même, et dans le
                            cadre d’un accompagnement plus global, je peux procéder à un tirage de cartes oracles afin
                            de prendre conscience de ce qui est à l’œuvre dans vos vies à l’instant T (voir rubrique
                            cartomancie) ou réaliser une séance énergétique (voir page concernée).
                            Une douche peut être prise à l’issue du massage, si vous en faites la demande préalable.
                            Le massage intégral étant parfois à tort assimilé à un massage érotique, je propose le
                            massage intuitif intégral uniquement aux femmes, en étant moi-même partiellement vêtue. Pour
                            les hommes, le massage sera proposé uniquement pour des personnes déjà connues et non en
                            première demande. Les hommes devront garder leurs sous-vêtements ou porter des
                            sous-vêtements jetables. Le massage sera réglé au début de séance et tout geste déplacé
                            verrait la fin immédiate de la séance sans qu’aucun remboursement ne puisse être exigé.

                            J’ai pour projet de me former au massage californien, au massage crânien et je souhaiterai
                            développer des massages parents/bébé également.</p>
                    </div>
                    <div class="img">
                        <!-- ----------------------------- A COMPLETER ----------------------------- -->
                        <img src="../assets/images/">
                    </div>
                </section>
                <section class="block soin">
                    <div class="img">
                        <img src="../assets/images/energie.jpg">
                    </div>
                    <div class="txt">
                        <h3>Séance énergétique</h3>
                        <p>En 2018 j’ai participé à un salon de bien-être. Je souhaitais me développer davantage, être
                            plus
                            « connectée » au flux de la vie, à l’Amour Universel. J’ai participé à un concours et gagné
                            mon
                            stage d’initiation au Reiki. Un an plus tard en 2019 je me suis formée au niveau 2 de Reiki.
                            Il
                            y a eu beaucoup de changement dans ma vie à cette période et j’utilise souvent le pouvoir de
                            l’intention et l’énergie du Reiki pour ceux qui en ont besoin, avec des résultats
                            indéniables, y
                            compris à distance.
                            Le Reiki est une énergie universelle de vie qui n’a que des côtés positifs. Et il est un
                            guide
                            au quotidien par ces idéaux, qui rejoignent les accords toltèques d’Eckart Tollé, pour une
                            vie
                            en pleine conscience, vibrante. Les idéaux du Reiki sont :
                            « Juste pour aujourd’hui je me libère de toute préoccupation »
                            « Juste pour aujourd’hui je me libère de toute colère »
                            « Juste pour aujourd’hui je rends grâce pour mes nombreuses bénédictions, j’honore les
                            parents,
                            mes professeurs, mes aïeux »
                            « Juste pour aujourd’hui je vis ma vie honnêtement »
                            « Juste pour aujourd’hui je respecte la vie autour de moi sous toute forme ».

                            Par la suite, j’ai également croisé une très belle personne qui accompagne les mourants et
                            leur
                            famille avec le Lahochi. J’ai donc également été formée à cette pratique énergétique, plus
                            facile d’accès et moins longue à réaliser en séance que le Reiki.

                            Je vous propose donc une séance énergétique de Reiki ou de Lahochi seule ou en complément
                            d’un
                            massage sonore aux bols tibétains (voir page dédiée) ou d’un massage intuitif (voir page
                            connexe).</p>
                    </div>
                </section>
                <section class="block soin rev">
                    <div class="txt">
                        <h3>Cartomancie</h3>
                        <p>Etant naturellement assez intuitive et curieuse j’apprécie de compléter mes ressentis dans la
                            matière. Depuis de nombreuses années, je pratique les tirages pour moi-même, les proches et
                            amis
                            avec des résultats forts pertinents de l’aveux même des intéressés ! J’utilise les cartes
                            d’oracle comme moyen de porter à notre conscience les problèmes que nous rencontrons voire
                            reproduisons sur nos chemins de vie, d’examiner nos potentiels et de savoir comment être
                            soutenus ou conseillés pour nous réaliser au meilleur de nous-même.
                            Le tirage de carte est donc un outil additionnel à d’autres pratiques de bien être, voulu
                            comme
                            un moment de présence à soi. Il est donc systématiquement proposé avant ou après les
                            massages
                            sonores, si la personne le souhaite. C’est l’opportunité d’être pleinement vous-même et
                            considéré sans jugement, de cœur à cœur, pour une problématique précise ou un tirage
                            général.
                            C’est un moment de partage et d’intimité pour accepter ce qui est, ou initier des
                            changements.
                            Sachez que je demande à ne recevoir que les messages que vous pouvez intégrer. IL arrive
                            donc
                            parfois que les réponses données ne correspondent pas aux questions posées mais c’est ce qui
                            est
                            juste à ce moment-là et vous le sentirez aussi. Vous pourrez photographier votre tirage si
                            vous
                            le souhaitez. Je demande également à ce que vous me disiez ce qu’il est advenu après quelque
                            temps, afin de nourrir ma pratique et de toujours mieux vous accompagner.</p>
                    </div>
                    <div class="img">
                        <img src="../assets/images/tarot.jpg">
                    </div>
                </section>
                <section class="block soin">
                    <div class="img">
                        <!-- ----------------------------- A COMPLETER ----------------------------- -->
                        <img src="../assets/images/">
                    </div>
                    <div class="txt">
                        <h3>Ateliers créatifs</h3>
                        <!-- ----------------------------- A COMPLETER ----------------------------- -->
                        <p>Inserer text ici...</p>
                    </div>
                </section>
            </section>
        </section>


    </main>

    <footer>
        <section id="L">
            <h5>Nos Reseaux</h5>
            <h5>Conditions générales d’utilisation</h5>
        </section>
        <section id="R">
            <h5 onclick="location.href='./confidenciality.html'">Politique de confidentialité</h5>
            <h5 onclick="location.href='./legal.html'">Mentions légales</h5>
        </section>
    </footer>

</body>

</html>