<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accord de soi</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/tarifs.css">
</head>

<body>
    <header>
        <nav>
            <details>
                <summary id="menuButton">
                    <span class="hamburger"></span>
                </summary>
                <section id="menuList">
                    <button onclick="location.href='../index.html'">Accueil</button>
                    <button onclick="location.href='./rdv.html'">Prendre Rendez-Vous</button>
                    <button onclick="location.href='./seances.html'">Nos Séances</button>
                    <button onclick="location.href='./tarifs.html'">Grille tarifaire</button>
                    <button onclick="location.href='./contact.html'">Contact</button>
                </section>
            </details>
        </nav>

        <section id="homebutton">
            <img src="../assets/images/c.png" onclick="location.href='./index.html'">
        </section>

    </header>

    <main>
        <section id="mainSection">
            <section class="block" id="titre">
                <div>
                    <img id="mainImg" src="../assets/images/pot.png">
                </div>
                <div>
                    <H1>Séances</H1>
                </div>
            </section>

        </section>
    </main>

    <footer>
        <section id="L">
            <h5>Nos Reseaux</h5>
            <h5>Conditions générales d’utilisation</h5>
        </section>
        <section id="R">
            <h5 onclick="location.href='./confidenciality.html'">Politique de confidentialité</h5>
            <h5 onclick="location.href='./legal.html'">Mentions légales</h5>
        </section>
    </footer>

</body>

</html>